# Django settings
# To generate a secret key use: storefront\settings\secret_key_generator.py 
# or visit: https://djecrety.ir/
DJANGO_SECRET_KEY='PROVIDE_YOUR_SECRET_KEY'
DJANGO_LOGLEVEL=info
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=storefront

# For development only:
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgresql
DATABASE_HOST=postgres-db
DATABASE_PORT=5432

# Remove * and unnecessary hosts for production:
DJANGO_ALLOWED_HOSTS='localhost,127.0.0.1,[::1],django-web,postgres-db,*'

# For using waitress (for production only)
WAITRESS_HOST='0.0.0.0'
WAITRESS_PORT=8000
WAITRESS_THREADS=6

# Tests
# - `pytest` for tests to run once or 
# - `ptw` to run tests continuously
TEST_METHOD=pytest
TEST_DATABASE_NAME=storefront
TEST_DATABASE_USERNAME=postgres
TEST_DATABASE_PASSWORD=postgresql

DEBUG=True
# If DEBUG=True - a superuser/admin will be created 
# with the credentials below:
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=postgresql

# Silk profiling
SILK_PROFILING=False

# Optional db population with products and collections
POPULATE_DB=False  # Set to 'false' to skip population