{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebStore API</title>
    <link rel="stylesheet" href="{% static 'store/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1><img src="{% static 'core/logo.svg' %}", alt="Logo", class="logo_c">&nbsp;&nbsp;Demo Store Front API</h1> 
      <p style="text-align: center">
        An API for a demo store front with Django Rest Framework and PostgreSQL.
      </p>

      <h2>🛍️ Store API root available endpoints</h2>
      <ul>
        {% for name, url in endpoints.items %}
        <li><a href="{{ url }}">{{ name }}</a></li>
        {% endfor %}
      </ul>

      <h2>Resources</h2>
      <p style="text-align: center">
        For more information, see the <a href="https://github.com/mrBrain101/Storefront_Django_PostgreSql/blob/a0e60930442e8f340bdb108c654170028c258b5c/README.en.md">README</a>
      </p>

      <div class="footer"><a href="https://github.com/mrBrain101/Storefront_Django_PostgreSql">GitHub repo</a></div>
    </div>
  </body>
</html>